<form [formGroup]="userForm" (ngSubmit)="submitForm()">
  <div>
    <label for="name">First_name:</label>
    <input type="text" id="name" formControlName="name" required>
  </div>
   <div>
    <label for="last_name">Last_Name:</label>
    <input type="text" id="last_name" formControlName="last_name" required>
  </div>
   <div>
    <label for="login">login:</label>
    <input type="text" id="login" formControlName="login" required>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password" required>
  </div>
  <button type="submit">Add User</button>
</form>
