

pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;

  }

  .centred{
    display: flex;
    justify-content: center;
  }

  a,i{
    cursor: pointer;
}

.img-top{
    width: 100%;
    height:100%;
    border-radius:5px;
    display:block;
  overflow: hidden;
  object-fit: cover;
  }